/*!
 * Avenue css
 */
body{
    overflow: hidden;
    background-color: #ffffff;
}

.screen {
    position:absolute;
    top: 50px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    background-color: #f9f9f9;
    z-index: 1;
}

.screen-source, .screen-results, .screen-routes{
    display:none;
    background-color: #ffffff;
}

.visible-network, .visible-routes, .visible-results, .visible-source {
    display:none;
}

.hidden-network, .hidden-routes, .hidden-results, .hidden-source {
    display:block;
}

.show-network .hidden-network,
.show-routes .hidden-routes,
.show-results .hidden-results,
.show-source .hidden-source
{
    display:none;
}


.show-network .visible-network,
.show-routes .visible-routes,
.show-results .visible-results,
.show-source .visible-source
{
    display:block;
}

.show-network .hidden-network,
.show-routes .hidden-routes,
.show-results .hidden-results,
.show-source. hidden-source
{
    display:none;
}

#editor {
    margin: 0;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

.bottom-panel{
    position:absolute;
    height:50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 20;
    padding-left:10px;
}

.top-panel{
    height:50px;
    border-bottom:1px solid #e1e1e1;
    padding:15px;
    z-index: 20;
}

.left-panel{
    border-radius: 0px 5px 5px 0px;
    border-top:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
    padding: 10px 10px 0px 10px;
    top: 70px;
    left: 0px;
    z-index: 10;
    position:absolute;
    background: white;
    opacity: 0.5;
}

.left-panel:hover{
    opacity: 0.9;
}



.right-panel-slide-button{
    display: block;
    position: absolute;
    left: -35px;
    top: 10px;
    border-right: 0px;
    border-radius: 4px 0px 0px 4px;
}

.show-right-panel .right-panel-slide-button i.fa {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.right-panel{
    border-radius: 5px 0px 0px 5px;
    border-top:1px solid #e1e1e1;
    border-left:1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
    padding: 10px 10px 0px 10px;
    top: 70px;
    bottom: 70px;
    right: -390px;
    z-index: 10;
    position:absolute;
    background: white;
    width:400px;

    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.show-right-panel .right-panel{
    right: 0px;
}

.chart-panel{
    border:1px solid #e1e1e1;
    background: white;
    padding: 10px;
    top: 425px;
    left: 80px;
    z-index: 30;
    position:absolute;
    height:420px;
    width:620px;
    border-radius: 5px;
}

.chart-panel-head {
    color: #cccccc;
    cursor: move;
}
.chart-panel-head a.btn-chart-close {
    display: block;
    float:right;
    color: #cccccc;
}

.ct-chart{
    width: 596px;
    height: 369px;
}


.ct-series-a .ct-line {
    stroke: red;
    stroke-width: 2px;
}

.ct-series-b .ct-line {
    stroke: #00B000;
    stroke-width: 2px;
}

.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
    fill: #A7EDA6;
}

.btn-group, .btn-group-vertical {
    display:block;
    margin-bottom: 10px;
}

.nav-tabs.bottom-tabs {
    border-top: 1px solid #ddd;
    border-bottom: 0px solid #ddd;
}

.nav-tabs.bottom-tabs > li {
    margin-top: -1px;
    margin-bottom: 0px;
}


.nav-tabs.bottom-tabs > li.active > a {
    border-bottom-color: #ddd;
    border-top-color: transparent;
}
.nav-tabs.bottom-tabs > li > a {
    border-radius: 0 0 4px 4px;
}

.status-bar{
    float: right;
    margin-top: -34px;
    width: 75%;
    color: #cccccc;
    height: 30px;
    text-align: right;
    padding-right: 10px;
}

#input-edge-label {
    display:none;
    position:absolute;
    z-index:999;
    width:35px;
    font-size:12px;
    border:1px solid #e0e0e0;
    border-radius: 3px;
}

body.show-edge-input #input-edge-label {
    display:block;
}

.left-panel ul.dropdown-menu {
    left: 55px;
    margin: -35px 0 0;
}

.navbar-brand {
    padding:10px 10px;
}
.navbar-inverse {
    background-color: #333;
}

@media (min-width: 768px){
    .navbar-nav {
        float: left;
        margin: 0px;
        /*margin-left: 30px;*/
    }
}

.btn-inverse {
    color:#eeeeee;
    border-color:#eeeeee;
    background-color: transparent ;
}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse:focus{
    color:#ffffff;
    border-color:#ffffff;
    background-color: rgba(255,255,255,0.1) ;
}

.panel-point-property {
    display:none;
    position:absolute;
    top: 0px;
    left:0px;
    z-index:2000;
    /*opacity: 0.95;*/
    width: 275px;
}

.show-panel-point-property .panel-point-property{
    display: block;
}

.panel-point-property:before, .panel-point-property:after {
    content: " ";
    display: block;
    width: 1px;
    height: 0;
    border-bottom: #ffffff 15px solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    right: 130px;
    margin-left: -7px;
    top: -19px;
    margin-top: 6px;
    z-index: 9999;
}

.panel-point-property:before {
    border-bottom-color: #dadada;
    margin-top: 4px;
}

.panel-point-property .form-group {
    margin-bottom: 4px;
}

.panel-point-property .form-group:last-child {
    margin-bottom: 0px;
}

.panel-point-property label {
    font-weight:normal;
    font-size: 12px;
    text-align: right;
}

.panel-point-property .panel-body {
     padding: 8px;
}

.panel-point-property #input-node-type {
    display: block;
    margin-top: 5px;
    font-size: 13px;
}

@media (min-width: 768px){
    .modal-dialog {
        width: 700px;
        margin: 30px auto;
    }
}

#crossroad-modal .modal-body {
    /*height:400px;*/
}



.signal-bar {
    width:100%;
    padding:7px 0px;
    margin:0px;
    display:block;
    clear:both;
    opacity: 0.8;
}
.signal-bar:hover{
    opacity: 0.9;
    box-shadow: 4px;
}

.signal {
    height: 15px;
    padding:0px;
    margin:0px;
    float:left;
    display:block;
    border:1px solid #555;
    border-right:0px;
}

.signal-red {
    background-color: red;
}
.signal-green {
    background-color: green;
}
.signal-yellow {
    background-color: yellow;
}

.signal-amber {
    background: linear-gradient( red 50%, transparent 50%);
    background-size: 2px 15px;
    background-color: yellow;
}

.signal-blink {
    background: linear-gradient(90deg, darkgreen 50%, transparent 50%);
    background-size: 4px 4px;
    background-color: yellowgreen;
}


.disabled {
    background-color: #000;
    opacity: 0.1;
}

.ph-selected {
    background-color: #337AB7;
    color: #fff;
    border-radius: 5px;
}

.table-phases{
     margin-bottom: 5px;
}

.table-phases>tbody>tr>td,
.table-phases>tbody>tr>th,
.table-phases>tfoot>tr>td,
.table-phases>tfoot>tr>th,
.table-phases>thead>tr>td,
.table-phases>thead>tr>th {
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 0px solid #ddd;
    text-align: center;
}

.table-phases>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0px solid #ddd;
}

.table-phases th {
    cursor:pointer;
}

.table-phases th:hover {
    background-color: #eeeeee;
    color:#000;
    border-radius: 5px;
}


.menu-directions {
    width: 285px;
    top: 35px;
    padding: 5px;
}

.menu-directions .btn {
    font-size: 16px;
    margin: 0px;
    border:0px solid #fff;
}

.drop-down-color {
    min-width: 113px;
    padding:0px
}

.drop-down-color a.label {
    display:block;
    margin:5px;
}

.btn-node-color-selection {
    padding:5px;
}

#btn-node-icon {
    padding:5px 17px;
}

#input-crossroad-name {
    border: 0px solid white;
    font-size: 18px;
    width: 500px;
}

.stop-line-icon {
    font-family: Avenue;
    font-size: 13px;
}

.btn-stop-line {
    padding: 0px 6px;
    font-size: 13px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color: #ccc;
}



#loginModal .modal-dialog {   width: 400px;}
#loginModal .modal-footer {   border-top: 0px; }