/*!
 * Avenue css
 */
body{
    overflow: hidden;
    background-color: #ffffff;
}

.screen {
    overflow: hidden;
    position:absolute;
    top: 50px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background-color: #777;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.screen.white {
    background-color: #eee;
    background-image: none;
}

.screen-0  {
    /*color: #dfedff;*/
    overflow: hidden;
    position:absolute;
    top: 50px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    z-index: 1;
}


.screen-1  {
    overflow: hidden;
    position:absolute;
    top: 50px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background-color: transparent;
    background-image: none;
}

.screen-scroll {
    bottom: 0px;
    overflow-y: auto;
}



.visible-api-doc,
.visible-files,
.visible-network,
.visible-routes,
.visible-map,
.visible-results,
.visible-crossroad,
.visible-source {
    display:none;
}

.hidden-api-doc,
.hidden-files,
.hidden-network,
.hidden-routes,
.hidden-map,
.hidden-results,
.hidden-crossroad,
.hidden-source {
    display:block;
}

.show-api-doc .visible-api-doc,
.show-files .visible-files,
.show-network .visible-network,
.show-routes .visible-routes,
.show-map .visible-map,
.show-results .visible-results,
.show-crossroad .visible-crossroad,
.show-source .visible-source
{
    display:block;
}

.show-api-doc .hidden-api-doc,
.show-files .hidden-files,
.show-network .hidden-network,
.show-routes .hidden-routes,
.show-map .hidden-map,
.show-results .hidden-results,
.show-crossroad .hidden-crossroad,
.show-source .hidden-source
{
    display:none;
}

#editor {
    margin: 0;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

.bottom-panel{
    position:absolute;
    height:50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 20;
    padding-left:10px;
    background: white;
}

.top-panel{
    height:50px;
    border-bottom:1px solid #e1e1e1;
    padding:15px;
    z-index: 20;
}

.left-panel{
    border-radius: 0px 5px 5px 0px;
    border-top:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
    padding: 10px 10px 0px 10px;
    top: 70px;
    left: 0px;
    z-index: 10;
    position:absolute;
    background: white;
    /*opacity: 0.5;*/
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.left-panel:hover{
    /*opacity: 0.9;*/
}



.right-panel-close-button{
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 0px;
    padding: 0px 4px;
    color: #ccc;
}

.right-panel{
    border-radius: 5px;
    border :1px solid #e1e1e1;
    padding: 10px;
    top: 115px;
    right: -350px;
    z-index: 10;
    position:absolute;
    background: white;
    width:350px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 10px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    /*max-height: 720px;*/
    bottom: 65px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.show-right-panel .right-panel{
    right: 15px;
}

.show-crossroad .right-panel {
    top: 65px;
}

.right-panel table.table {
    font-size:12px;
}

.right-panel h4 {
    font-size:15px;
    color: #000;
}

.btn-group, .btn-group-vertical {
    display:block;
    margin-bottom: 10px;
}

.nav-tabs.bottom-tabs {
    border-top: 1px solid #ddd;
    border-bottom: 0px solid #ddd;
}

.nav-tabs.bottom-tabs > li {
    margin-top: -1px;
    margin-bottom: 0px;
}


.nav-tabs.bottom-tabs > li.active > a {
    border-bottom-color: #ddd;
    background-color: #eee;
    border-top-color: transparent;
}

.nav-tabs.bottom-tabs.white > li.active > a {
    background-color: #fff;
}

.nav-tabs.bottom-tabs > li > a {
    border-radius: 0 0 4px 4px;
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -5px;
    }
}


.status-bar{
    float: right;
    margin-top: -27px;
    width: 75%;

    height: 30px;
    text-align: right;
    padding-right: 15px;
}

#crossRoadDelayBar {
    margin-right: 350px;
    position: absolute;
    left: 15%;
    width: 400px;
    bottom: 24px;
}

.summary-delay-info {
    font-size: 13px;
    color: #999;
}

.summary-delay-info .text-muted {
    font-size: 11px;
}

#input-edge-label {
    display:none;
    position:absolute;
    z-index:999;
    width:35px;
    font-size:12px;
    border:1px solid #e0e0e0;
    border-radius: 3px;
}

body.show-edge-input #input-edge-label {
    display:block;
}
.dropdown-menu{
    padding:0px;
}
.dropdown-menu > li > a{
    clear: both;
    font-weight: 400;
    color: #333;
    font-size: 14px;
    padding: 13px 20px;
    border-bottom: 1px solid #ddd;
}

.left-panel ul.dropdown-menu {
    left: 55px;
    margin: -35px 0 0;
}

.navbar-brand {
    padding:10px 10px;
}
.navbar-inverse {
    background-color: #333;
}

@media (min-width: 768px){
    .navbar-nav {
        float: left;
        margin: 0px;
        /*margin-left: 30px;*/
    }
}

.btn-inverse {
    color:#eeeeee;
    border-color:#666666;
    background-color: transparent ;
}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse:focus{
    color:#ffffff;
    border-color:#ffffff;
    background-color: rgba(255,255,255,0.1) ;
}

.btn-inverse:active,
.btn-inverse.active {
    box-shadow: inset 3px 3px 3px rgba(0,0,0,.2);
    background: rgba(230,230,230,.4);
}

.btn-inverse .fa-stack {
     width: inherit;
     height: inherit;
     line-height: inherit;
     vertical-align: baseline;
}

.add-green-property,
.panel-point-property {
    display:none;
    position:absolute;
    top: 0px;
    left:0px;
    z-index:2000;
    /*opacity: 0.95;*/
    width: 285px;
}

.show-panel-point-property .panel-point-property{
    display: block;
}
.show-panel-point-property .add-green-property{
    display:none;
}


.show-panel-add-green .add-green-property{
    display: block;
}
.show-panel-add-green .panel-point-property {
    display:none;
}

.add-green-property:before, .add-green-property:after,
.panel-point-property:before, .panel-point-property:after {
    content: " ";
    display: block;
    width: 1px;
    height: 0;
    border-bottom: #ffffff 15px solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    right: 130px;
    margin-left: -7px;
    top: -19px;
    margin-top: 6px;
    z-index: 9999;
}

.add-green-property:before,
.panel-point-property:before {
    border-bottom-color: #dadada;
    margin-top: 4px;
}

.add-green-property .form-group,
.panel-point-property .form-group {
    margin-bottom: 4px;
}
.add-green-property .form-group:last-child,
.panel-point-property .form-group:last-child {
    margin-bottom: 0px;
}

.add-green-property label,
.panel-point-property label {
    font-weight:normal;
    font-size: 12px;
    text-align: right;
}

.add-green-property .panel-body,
.panel-point-property .panel-body {
     padding: 8px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.add-green-property #input-node-type,
.panel-point-property #input-node-type {
    display: block;
    margin-top: 5px;
    font-size: 13px;
}
.add-green-property .form-horizontal .control-label,
.panel-point-property .form-horizontal .control-label {
    padding-right:0px;
}

@media (min-width: 768px){
    .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
}

.btn-x-sm {
    padding: 2px 5px;
    font-size: 9px;
    line-height: 1.5;
    border-radius: 4px;
}
.stop-line-diagram-row:hover,
.stop-line-diagram-row.active,
.stop-line-row.active,
.stop-line-row:hover{
    background: #eee;
}

.signal-bar {
    width: 275px;
    padding: 16px 0;
    clear: both;
    opacity: 1;
    margin-left: 26px;
    margin-top: -50px;
    margin-bottom: 40px;
    border: 1px solid transparent;
}

.signal-bar.signals-bulk {
    width: 100%;
    padding: 0px 0px;
    clear: both;
    opacity: 1;
    background: #eee;
    margin: 0px;
}


.signal {
    color: #fff;
    height: 15px;
    padding: 0px 0;
    margin: 0;
    float: left;
    display: block;
    /* border: 1px solid #fff; */
    border-left: 0;
    border-right: 1px solid #ffffff;
    font-weight: 400;
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
}

.signal-bar .signal {
    height: 8px;
    font-size: 8px;
}

.signal-bar.signals-bulk .signal {
    height: 15px;
    font-size: 10px;
}


.signal-red {
    background-color: #fd5149;
}
.signal-green {
    background-color: #4caf50;
}
.signal-yellow {
    background-color: yellow;
    color:#333;
}

.signal-amber {
    background: linear-gradient( #fd5149 50%, transparent 50%);
    /*background-size: 2px 8px;*/
    background-color: yellow;
    color: transparent;
}

.signal-blink {
    background: linear-gradient(90deg, darkgreen 50%, transparent 50%);
    background-size: 4px 4px;
    background-color: yellowgreen;
    color: transparent;
}

.signal-error {
    background-color: #ccc;
    color:#222;
}
.signal-clean {
    background-color: #ddd;
    color:#222;
}


.disabled {
    background-color: #000;
    opacity: 0.1;
}

/*.ph-selected {*/
    /*background-color: #337AB7;*/
    /*color: #fff;*/
    /*border-radius: 5px;*/
/*}*/

.table-phases{
     margin-bottom: 0px;
     margin-top: 0px;
}

.table-phases>tbody>tr>td,
.table-phases>tbody>tr>th,
.table-phases>tfoot>tr>td,
.table-phases>tfoot>tr>th,
.table-phases>thead>tr>td,
.table-phases>thead>tr>th {
    padding: 0px 1px 1px 1px;
    vertical-align: middle;
    border-top: 0px solid #ddd;
    text-align: center;
}

.table-phases>tbody>tr>td.ph-col-0 {
    /*text-align: right;*/
    padding-right:10px;
    width:90px;
}

.table-phases>tbody>tr>td[disabled] {
    background: #eee;
}

td.ph-col-0 label{
    font-weight: normal;
}

.ph-col-stop-line-label {
    font-size:11px;
}
.table-phases>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0px solid #ddd;
    font-weight:bold;
    font-size: 11px;
    padding-bottom: 4px;
}

.table-phases th {
    cursor:pointer;
}

.table-phases th:hover {
    background-color: #eeeeee;
    color:#000;
    border-radius: 5px;
}

.table-phases>tbody>tr>td.ph-col-checkbox {
    text-align: left;
}



.table-phases .input-sm {
    padding: 0px 7px;
    border-radius: 0;
    font-size: 12px;
    border: 0;
    border-bottom: 1px solid #ccc;
    height: 25px;
}

.table-phases .td-hr {
    height:14px;
}

.menu-directions {
    width: 283px;
    top: 31px;
    padding: 5px;
    left: -157px;
}

.menu-directions .btn {
    font-size: 16px;
    margin: 0px;
    border:0px solid #fff;
}

.drop-down-color {
    min-width: 113px;
    padding:0px
}

.drop-down-color a.label {
    display:block;
    margin:5px;
}

.btn-node-color-selection {
    padding:5px;
}

#btn-node-icon {
    padding:5px 20px;
}

#btn-add-green-done ,
#btn-point-property-done {
    margin-right: 15px;
}

/*#input-crossroad-name {*/
    /*border: 0px solid white;*/
    /*font-size: 18px;*/
    /*width: 610px;*/
    /*margin-right: 20px;*/
/*}*/

#label-crossroad-opti-off {
    float: right;
    /*margin-right: 20px;*/
    /*margin-top: 5px;*/
    font-weight: normal;
    font-size:12px;
}

.btn-danger-light {
    color:#cc0000;
}

.add-phases-order-container {
    padding-top:7px;
}
.add-phases-order-container input {
    display: inline-block;
    margin-right: 5px;
    width: 141px;
}

.add-phases-order-container button {
    display: inline-block;
}


.font-weight-normal {
    font-weight:normal;
}

.stop-line-icon {
    font-family: Avenue;
    font-size: 13px;
}

.btn-stop-line {
    padding: 0px 6px;
    font-size: 11px;
}

.stop-line-td-label {
    white-space: nowrap;
    font-size: 11px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color: #ccc;
}



#loginModal .modal-dialog {   width: 400px;}
#loginModal .modal-footer {   border-top: 0px; }


.visible-results {
    background-color: #ffffff;
}

.input-node-search {
    padding-left:30px;
    width: 85%;
    margin-right: 7px;
    float: left;
}

.input-node-search-form {
    position:absolute;
    border-radius: 5px;
    /*padding:10px;*/
    top: 70px;
    right: 5px;
    z-index: 10;
    /*background: rgba(0,0,0, 0.7);*/
    width:360px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.input-node-search-form form:before {
    display:block;
    position: absolute;
    content: '\f002';
    color: #e3e3e3;
    font-family: FontAwesome;
    font-size: 16px;
    top: 7px;
    left: 10px;
    z-index: 2;
}

.node-list {
    margin-top:10px;
    padding: 0px;
}

.node-list.single {
    margin-bottom:5px;
}

.node-search-info {
    margin: 15px;
}


.node-list-item {
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    cursor: pointer;
    margin: 0px;
}
.node-list-item:hover{
    background-color: #f3f3f3;
}

.node-list-item.single {
    border-bottom: 0px solid #e3e3e3;
}


.node-avatar {
    font-family: Avenue;
    font-size: 24px;
    display: block;
    /*border: 1px solid #777777;*/
    width: 34px;
    height: 34px;
    line-height: 34px;
    float: left;
    border-radius: 32px;
    text-align: center;
    margin-right: 10px;
}

.node-avatar.crossRoad,
.node-avatar.point,
.node-avatar.bottleneck,
.node-avatar.concurrent,
.node-avatar.concurrentMerge,
.node-avatar.carriageway {
    font-family: FontAwesome;
    font-weight: 300;
}

.node-avatar.crossRoad {
    border-radius: 4px;
    line-height: 32px;
}

.node-parent-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
    color:#999999;
}
.node-type{
    font-size: 11px;
    font-weight: bold;
    float: right;
    color:#777;
}

.node-tag {
    font-size: 14px;
    font-weight: bold;
}

.node-search-not-found {
    height: 145px;
    text-align: center;
    padding-top:27px;
    color: #E0DEDE;
}

.node-search-not-found .no-search-results {
    color: #ccc;
    font-weight: 400;
    line-height: 21px;
    font-size: 18px;
    padding-top: 14px;
}

.node-search-not-found .no-search-results p {
    font-size: 14px;
}
.node-error-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.node-error-list li {
    padding: 0px 0px;
    margin: 0px 0px 5px;
    font-size: 12px;
    color:#fa6b6e;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}


.measure-unit {
    font-size: 12px;
    color: #999;
    vertical-align: bottom!important;
}

.form-control.input-file-search {
    width: 150px;
    color: #f0f0f0;
    background: rgba(255,255,255, 0.1);
}

#api-credentials .input-group {
    width: 170px;
}

#api-credentials .input-group-addon {
    color: #999;
    border-color: #555;
    background-color: transparent;
}

.form-control.input-api-key {
    color: #f0f0f0;
    background: rgba(255,255,255, 0.1);
}


.files-container {
    margin-top:50px;
}

.table-files {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-top: 15px;
}

table.table-files>tbody>tr{

}

table.table-files>tbody>tr:hover{
    background: #E0F3F9;
}

table.table-files>tbody>tr>td {
    padding: 12px;
    line-height: 28px;
}

td.model-name-col a {
    /*max-width:330px;*/
    min-width:200px;
    text-overflow: ellipsis;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-decoration: none;
}

td.model-name-col .label {
    font-size: 14px;
}

.time-col,.cycle-time-col,.property-col{
    white-space: nowrap;
}

.property-col span,
.cycle-time-col span {
    font-size: 11px;
    color:#999;
}

.time-col {
    color:#999;
}
.actions-col {
    width:20px;
}
.actions-col .btn-group>.btn {
    padding:0px 5px;
    font-size: 18px;
}

.actions-col .dropdown-menu {
    top: 21px;
    left: 0px;
}

.order-by-label {
    padding: 0px 10px;
    margin-top: 20px;
}
.order-by-label a {
    text-decoration: none;
}

.btn-create-model {
    diaplay: block;
    margin-bottom: 15px;
}

.pages-info {
    line-height: 45px;
}

.nav-btn-group-dropdown {
    top:35px;
}

.navbar-form .btn-group {
    display: inline-block;
    margin: 0px 5px;
}

.navbar-form {
    padding: 0px 5px;
}

.navbar-header {
    margin-right:10px!important;
}
.container-api {
    background: #fff;
    padding: 20px 40px;
}

.bs-docs-sidebar {

}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.diagram-panel{
    position:absolute;
    top:0px;
    left:100px;
    bottom:0px;
    right:0px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 10px;
}

.input-route-name {
    margin-bottom: 5px;
}

.li-route-name-dropdown {
    padding:5px;
}

.label.label-grey {
    background-color: #cecece;
}

a.btn-edit-add-green,
a.btn-edit-add-green:hover{
    text-decoration: none;
    color:#cccccc;
}

a.btn-edit-add-green span.add-green-value {
    color:#5D942F;
    font-size: 12px;
    font-weight:bold;
}

a.btn-edit-add-green[disabled] span.add-green-value {
    color:#ccc;
}

.input-multi-edit {
    width: 90px;
    height: 24px;
    padding: 3px 5px;
    font-size: 12px;
    float: right;
}
.table-multi-edit {
    margin-bottom: 10px;
}


.input-file-upload {
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
}

.navbar-inverse input[type="text"] {
    border: 1px solid #555;
}


#cy-crossroad-copy {
    height: 250px;
    width: 100%;
    /*background: #f0f0f0;*/
}

.no-right-padding {
    padding-right:0px;
}

.no-left-padding {
    padding-left:0px;
}

.no-right-margin {
    margin-right:0px;
}

.no-left-margin {
    margin-left:0px;
}


#crossroad-panel {
    background: #fff;
    padding:20px 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

#crossroad-panel .row {
    max-width: 1200px;
}

#cycle-diagram-svg {
    width: 870px;
}

.cycle-diagram-legend{
    height:0px;
}

.phases-bars text {
    font-size:8px;
    color:#fff;
    /*transform: rotate(90deg);*/
}

.tick line{
    opacity: 0.1;
}

.loader {
    height: 200px;
    vertical-align: middle;
    text-align: center;
    padding: 25%;
}
