@CHARSET "UTF-8";

body.signup {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #999;
}

.login-form {
    max-width: 540px;
    margin: 100px auto;
}

.login-form.presenatation {
    max-width: 770px;
}

.login-form .tizer {
    color:#59C0ED;
    font-size:20px;
    text-align: center;
}

form[role=login] {
    /*color: #5d5d5d;*/
    background: rgba(0,0,0, 0.3);
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 250px;
}
form[role=login] input,
form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
}
form[role=login] > div {
    text-align: center;
}
form[role=login] label {
    font-weight: 600;
    color:#fff;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    /*margin-bottom: 50px;*/
}
.form-links a {
    color: #fff;
}

.login-form .has-error .form-control {
    border-color: #DA706E;;
    background: #F1D3D3;
    color: #a94442;
}

.login-form .help-block {
    display: block;
    margin-top: -15px;
    margin-bottom: 10px;
    color: #737373;
    border-radius: 6px;
    font-size: 14px;
    padding: 3px 9px;
    text-align: left;
}

.login-form .has-error .help-block {
    color: #F7F1F1;
    background: #DA706E;
}
