Привет, {{ fullName }}!<br>
<p>
Спасибо за то что зарегистрировались в AvenueApp!<br>
Пожалуйста подтвердите ваш email адрес нажав на ссылку внизу.
</p>

<br>
Hi, {{ fullName }}!<br>
<p>
Thanks for using AvenueApp!<br>
Please confirm your email address by clicking on the link below.
</p>
<br>
<a href="{{ link }}" target="_blank">{{ link }}</a>
<br><br>
---------------------------<br>
Avenue 2.0 - Сервис и API для моделирования транспортных потоков и оптимизации координированных режимов управления.<br>
Please reply to mikhail@avenue-app.com <br>