Привет, {{ fullName }}!<br>
<p>
    Ваш новый пароль: {{ password }}
</p>

<br>
Hi, {{ fullName }}!<br>
<p>
    Your new password: {{ password }}
</p>
<br>
---------------------------<br>
Avenue 2.0 - Сервис и API для моделирования транспортных потоков и оптимизации координированных режимов управления.<br>
Please reply to mikhail@avenue-app.com <br>