Привет, {{ fullName }}!<br>
<p>
    Вы или кто-то другой отправили запрос на восстановление/сброс пароля в AvenueApp!<br>
    Пожалуйста подтвердите ваш запрос нажав на ссылку внизу.
</p>

<br>
Hi, {{ fullName }}!<br>
<p>
    You or someone else sent a password reset request to AvenueApp!<br>
    Please confirm your request by clicking on the link below.
</p>
<br>
<a href="{{ link }}" target="_blank">{{ link }}</a>
<br><br>
---------------------------<br>
Avenue 2.0 - Сервис и API для моделирования транспортных потоков и оптимизации координированных режимов управления.<br>
Please reply to mikhail@avenue-app.com <br>