<div id="add-green-property" class="panel panel-default add-green-property">
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="input-add-green" class="col-sm-6 control-label"><b>Add. green</b> (sec):</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control input-sm node-property" id="input-add-green"  data-key="addGreen"  value="" placeholder="Exm. (6)" maxlength="2">
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-sm pull-right" id="btn-add-green-done"><i class="fa fa-check"></i> Done</button>
            </div>
        </form>
    </div>
</div>