<div class="bottom-panel">
    <ul class="nav nav-tabs bottom-tabs">
        <li role="presentation" class="active"><a href="#" id="btn-show-network" data-rel="show-network"><i class="fa fa-share-alt"></i></a></li>
        <li role="presentation"><a href="#" id="btn-show-results"  data-rel="show-results"><i class="fa fa-area-chart"></i></a></li>
        <li role="presentation"><a href="#" id="btn-show-routes"  data-rel="show-routes"><i class="fa fa-map-marker"></i></a></li>
    </ul>
    <div class="status-bar" id="status-bar">
        <!--<button type="button" class="btn btn-default" id="btn-toggle-map"><i class="fa fa-map-o"></i></button>-->
    </div>
</div>