<div id="crossroad-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <input type="text"  id="input-crossroad-name" placeholder="Crossroad name here"/>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-phases">
                                <thead>
                                <tr>
                                    <th class="col-sm-2">Phases</th>
                                    <th>1</th>
                                    <th class="ph-th ph-selected" data-cols='[1,2]' data-count="2">2</th>
                                    <th class="ph-th" data-cols='[1,2,3]' data-count="3">3</th>
                                    <th class="ph-th" data-cols='[1,2,3,4]' data-count="4">4</th>
                                    <th class="ph-th" data-cols='[1,2,3,4,5]' data-count="5">5</th>
                                    <th class="ph-th" data-cols='[1,2,3,4,5,6]' data-count="6">6</th>
                                    <th class="ph-th" data-cols='[1,2,3,4,5,6,7]' data-count="7">7</th>
                                    <th class="ph-th" data-cols='[1,2,3,4,5,6,7,8]' data-count="8">8</th>
                                </tr>
                                </thead>

                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCrossroadOffset" class="col-sm-2 control-label">Offset:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCrossroadOffset">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save-crossroad-data"><i class="fa fa-check"></i> Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>

</div>