<div id="import-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-upload"></i> <span locale="import-properties">Import form</span></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="import-file-form" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputImportModelType" class="col-sm-3 control-label"><span locale="import-model-type">Type</span>:</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="inputImportModelType" id="inputImportModelType">
                                <option value="avenue">Avenue 2.0</option>
                                <option value="sumo">SUMO</option>
                                <!--<option value="yo">YoEditor</option>-->
                                <!--<option value="osm">OpenStreetMap</option>-->
                            </select>
                        </div>
                    </div>

                    <div class="form-group import-additional-props hidden">
                        <label for="inputZoomMap" class="col-sm-3 control-label"><span locale="import-zoom-map">Zoom map</span>:</label>
                        <div class="col-sm-2">
                            <input type="text" id="inputZoomMap" class="form-control"  name="inputZoomMap" size="10" value="1">
                        </div>
                    </div>

                    <div class="form-group import-additional-props hidden">
                        <label for="inputZoomIntersection" class="col-sm-3 control-label"><span locale="import-zoom-intersection">Zoom intersection</span>:</label>
                        <div class="col-sm-2">
                            <input type="text" id="inputZoomIntersection" class="form-control"  name="inputZoomIntersection" size="10" value="10">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputImportFile" class="col-sm-3 control-label"><span locale="file">File</span>:</label>
                        <div class="col-sm-6">
                            <input type="file" class="form-control" id="inputImportFile" name="inputImportFile" size="20">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-go-import-model"><i class="fa fa-check"></i> <span locale="import">Import</span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal" locale="cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>