<div class="left-panel visible-network">
    <div class="btn-group settings">
        <div class="btn-group-vertical" role="group" >
            <button type="button"
                    class="btn btn-default"
                    id="btn-co-plan-properties"
                    title="edit-model-properties">
                <i class="fa fa-cog"></i></button>
        </div>
    </div>
    <div class="btn-group palette">
        <div class="btn-group-vertical" role="group" >
            <button type="button"
                    class="btn btn-default active"
                    id="btn-now-select-mode"
                    title="rectangle-select">
                <i class="fa fa-mouse-pointer"></i></button>
            <button type="button"
                    class="btn btn-default"
                    title="pan-model"
                    id="btn-now-pan-mode">
                <i class="fa fa-arrows"></i>
            </button>
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    id="btn-points-select"
                    data-type="stopline" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    title="point-menu-list">
                <i class="fa fa-genderless fa-fw"></i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu points-list">
                <li>
                    <a href="#" id="btn-add-point" data-type="point" title="add-point">
                        <i class="fa av-node fa-fw"></i>  <span locale="point">Point</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="btn-add-stopline" data-type="stopline" title="add-stopline">
                        <i class="fa av-traffic-light fa-fw"></i> <span locale="stopline">Stopline</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="btn-add-carriageway" data-type="carriageway" title="add-carriageway">
                        <i class="fa av-road-1 fa-fw"></i> <span locale="carriageway">Carriageway</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="btn-add-bottleneck" data-type="bottleneck" title="add-bottleneck">
                        <i class="fa av-bottleneck-sign-3 fa-fw"></i> <span locale="bottleneck">Bottleneck</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="btn-add-concurrent" data-type="concurrent" title="add-concurrent">
                        <i class="fa av-shuffle fa-fw"></i> <span locale="concurrent">Concurrent</span></a>
                </li>
                <li>
                    <a href="#" id="btn-add-concurrent-merge" data-type="concurrentMerge" title="add-concurrent-merge">
                        <i class="fa av-join fa-fw"></i> <span locale="concurrent-merge">Concurrent with join</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="btn-add-pedestrian" data-type="pedestrian" title="add-pedestrian">
                        <i class="fa av-pedestrian fa-fw"></i> <span locale="pedestrian">Pedestrian</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="btn-group align">
        <div class="btn-group-vertical" role="group" >
            <button type="button"
                    class="btn btn-default"
                    title="group-nodes"
                    id="btn-group-nodes">
                <i class="fa fa-object-group"></i>
            </button>
            <button type="button"
                    class="btn btn-default"
                    title="ungroup-nodes"
                    id="btn-ungroup-nodes">
                <i class="fa fa-object-ungroup"></i>
            </button>
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-th"></i>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" id="btn-horizontal-align">
                        <i class="fa fa-ellipsis-h fa-fw"></i> <span locale="horizontal-align">Horizontal</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="btn-vertical-align">
                        <i class="fa fa-ellipsis-v fa-fw"></i> <span locale="vertical-align">Vertical</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="btn-group operate">
        <div class="btn-group-vertical" role="group" >
            <button type="button" class="btn btn-default" id="btn-cut" title="cut"><i class="fa fa-cut"></i></button>
            <button type="button" class="btn btn-default" id="btn-copy" title="copy"><i class="fa fa-copy"></i></button>
            <button type="button" class="btn btn-default" id="btn-paste" title="paste"><i class="fa fa-clipboard"></i></button>
        </div>
    </div>

    <div class="btn-group operate">
        <div class="btn-group-vertical" role="group" >
            <button type="button" class="btn btn-default" id="btn-delete-node" title="delete"><i class="fa fa-trash text-danger"></i></button>
        </div>
    </div>


    <div class="btn-group operate">
        <div class="btn-group-vertical" role="group" >
            <button type="button" class="btn btn-default" id="btn-undo" title="undo"><i class="fa fa-mail-reply fa-flip-vertical"></i></button>
        </div>
    </div>
</div>