<div class="input-node-search-form visible-network">
    <form id="input-node-search-form" class="clearfix">
        <input type="text" tabindex="-1" class="form-control col-sm-12 input-node-search" id="input-node-search" placeholder="Search">
        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
    </form>
</div>


<div class="right-panel visible-network ">
    <a id="btn-close-right-panel" class="right-panel-close-button btn btn-default"><i class="fa fa-times"></i></a>
        <div class="node-list" id="node-search-result-list">
        </div>
        <div class="node-search-info" id="node-search-info">
        </div>
</div>

