<div class="left-panel visible-routes">
    <div class="btn-group settings">
        <div class="btn-group-vertical" role="group" >
            <button type="button" class="btn btn-default" id="btn-back-to-model"><i class="fa fa-mail-reply"></i></button>
        </div>
    </div>
    <div class="btn-group operate">
        <div class="btn-group-vertical" role="group" >
            <button type="button" class="btn btn-default" id="btn-delete-route"><i class="fa fa-trash text-danger"></i></button>
        </div>
    </div>
</div>
<div id="routes" class="screen visible-routes" data-tab="btn-show-routes">
    <div class="diagram-panel" id="diagram-panel">
    </div>
</div>

