<div class="left-panel visible-routes">
    <div class="btn-group settings">
        <div class="btn-group-vertical" role="group" >
            <button type="button" class="btn btn-default" id="123"><i class="fa fa-mail-reply"></i></button>
        </div>
    </div>
    <div class="btn-group palette">
        <div class="btn-group-vertical" role="group" >
            <button type="button" class="btn btn-default active" id="btn-now-select-mode"><i class="fa fa-mouse-pointer"></i></button>
            <button type="button" class="btn btn-default" id="btn-now-pan-mode"><i class="fa fa-arrows"></i></button>
            <button type="button" class="btn btn-default dropdown-toggle" id="btn-points-select" data-type="stopline" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-genderless fa-fw"></i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" id="btn-add-point" data-type="point"><i class="fa fa-genderless fa-fw"></i> Point</a></li>
                <li><a href="#" id="btn-add-stopline" data-type="stopline"><i class="fa fa-ellipsis-v fa-fw"></i> Stopline</a></li>
                <li><a href="#" id="btn-add-carriageway" data-type="carriageway"><i class="fa fa-exchange fa-fw"></i> Carriageway</a> </li>
                <li><a href="#" id="btn-add-bottleneck" data-type="bottleneck"><i class="fa fa-filter fa-fw"></i> Bottleneck</a></li>
                <li><a href="#" id="btn-add-concurrent" data-type="concurrent"><i class="fa fa-random fa-fw"></i> Concurrent</a></li>
                <li><a href="#" id="btn-add-concurrent-merge" data-type="concurrentMerge"><i class="fa fa-code-fork fa-fw"></i> Concurrent with join</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="routes" class="screen visible-routes" data-tab="btn-show-routes">
    <div class="diagram-panel" id="diagram-panel">
    </div>
</div>

