<div class="top-panel">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="/img/logo0.png" height="30"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form id="api-credentials" class=" hidden-api-doc hidden-network hidden-routes hidden-map hidden-crossroad navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Key</span>
                            <input type="text" id="input-api-key" class="form-control input-api-key" placeholder="ApiKey">
                        </div>
                        &nbsp;
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Secret</span>
                            <input type="text" id="input-api-secret" class="form-control input-api-key" placeholder="ApiSecret">
                         </div>
                        &nbsp;
                        <a class="btn btn-primary" href="/api/doc/" locale="api-doc">API Docs</a>
                    </div>
                </form>
                <form class="visible-network visible-routes visible-map visible-crossroad navbar-form navbar-left" role="search">
                    <a type="button"
                       title="back-to-model-list"
                       href="/models"
                       class="btn btn-inverse" ><i class="fa fa-th-list"></i> &nbsp;<span locale="model-list">Model list</span></a>
                </form>
                <form class="visible-network visible-routes visible-crossroad navbar-form navbar-left" role="search">

                    <button type="button"
                            class="btn btn-inverse"
                            title="download-model"
                            id="btn-model-download"><i class="fa fa-download"></i> </button>

                    <button type="button"
                            class="btn btn-inverse"
                            title="save-model"
                            id="btn-model-save"><i class="fa fa-save"></i> </button>

                    <div class="btn-group">
                        <button type="button"
                                title="launch-model"
                                class="btn btn-inverse" id="btn-calc">
                            <i class="fa fa-rocket"></i> &nbsp;&nbsp;<span locale="launch">Launch</span>
                        </button>
                        <button type="button"
                                class="btn btn-inverse dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu nav-btn-group-dropdown">
                            <li class="hidden-crossroad">
                                <a type="button" href="#" id="btn-offsets-optimize"><i class="fa fa-sliders "></i> &nbsp;<span locale="offsets">Offsets</span></a></li>
                            <li class="hidden-crossroad">
                                <a type="button" href="#" id="btn-saturation-draw">
                                    <span class="fa-stack fa-sm">
                                      <!--<i class="fa fa-car"></i>-->
                                      <i class="fa fa-tasks fa-rotate-90 text-success"></i>
                                    </span><span locale="situation">Situation</span>
                                </a></li>

                        </ul>
                    </div>
                </form>
                <form class="visible-network visible-routes navbar-form navbar-left" role="search" id="form-create-route">
                    <div class="btn-group pull-left hidden" id="routes-list-button-panel">
                        <button type="button"
                                class="btn btn-inverse dropdown-toggle"
                                data-toggle="dropdown"><i class="fa fa-map-marker"></i> &nbsp;<span locale="choose-route">Choose a route</span></button>
                        <ul class="dropdown-menu nav-btn-group-dropdown" id="routes-dropdown-list">
                        </ul>
                    </div>
                    <div class="btn-group pull-left">
                        <button type="button"
                                class="btn btn-inverse hidden-routes dropdown-toggle"
                                data-toggle="dropdown"
                                id="btn-add-route">
                            <i class="fa fa-plus"></i> <span locale="add-route">Route</button>
                        <ul class="dropdown-menu nav-btn-group-dropdown">
                            <li class="li-route-name-dropdown">
                                <input type="text"
                                       class="form-control input-route-name"
                                       id="input-route-name"
                                       placeholder="enter-route-name">
                                <button type="submit" class="btn btn-sm btn-info" id="btn-create-route" locale="create">Create</button>
                            </li>
                        </ul>
                    </div>
                </form>

                <form class="visible-routes navbar-form navbar-left" role="search">
                    <button type="button"
                            title="show-vehicle-traces"
                            class="btn btn-inverse" id="btn-show-vehicle-traces-forward">
                        <span class="fa-stack fa-sm">
                          <i class="fa fa-car"></i>
                          <i class="fa fa-long-arrow-up"></i>
                          <i class="fa fa-ban fa-stack-1x text-danger"></i>
                        </span>
                    </button>

                    <button type="button"
                            title="show-vehicle-traces"
                            class="btn btn-inverse" id="btn-show-vehicle-traces-back">
                        <span class="fa-stack fa-sm">
                          <i class="fa fa-car"></i>
                          <i class="fa fa-long-arrow-down"></i>
                          <i class="fa fa-ban fa-stack-1x text-danger"></i>
                        </span>
                    </button>

                </form>


                <form class="visible-network navbar-form navbar-left" role="search">
                    <button type="button"
                        title="show-map-in-background"
                        class="btn btn-inverse" id="btn-arcgis-switch">
                        <span class="fa-stack fa-sm">
                          <i class="fa fa-map"></i>
                          <i class="fa fa-ban fa-stack-1x text-danger"></i>
                        </span>
                    </button>

                    <button type="button"
                        title="pin-model-to-map"
                        class="btn btn-inverse"
                        id="btn-arcgis-set-extent"><i class="fa fa-map-pin fa-rotate-90"></i>
                    </button>
                </form>

                <form class="visible-crossroad navbar-form navbar-left" role="search">
                    &nbsp;&nbsp;&nbsp;
                    <button type="button"
                            title="opti-cycle-length"
                            class="btn btn-inverse dropdown-toggle"
                            id="btn-cycle-and-phase-rate" >
                        <i class="fa fa-clock-o"></i> <span locale="оptimal-cycle-length">Optimal cycle length</span>
                    </button>
                    <button type="button"
                            title="save-crossroad-program"
                            class="btn btn-primary"
                            id="btn-save-crossroad-data">
                        <i class="fa fa-check"></i> <span locale="apply">Apply</span>
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right ">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> <span id="label-my-account-username">Loading...</span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/sign-out"><i class="fa fa-sign-out fa-fw"></i> <span locale="log-out">Log out</span></a></li>
                        </ul>
                    </li>
                </ul>
                <form id="input-model-search-form" class="visible-files navbar-form navbar-right " role="search">
                    <input type="text"
                           id="input-model-search"
                           class="form-control input-file-search"
                           placeholder="search-model">
                    &nbsp;
                    <button type="submit" class="btn btn-inverse" id="btn-file-search"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
</div>