<div class="top-panel">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/img/logo0.png" height="30"></a></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown visible-files hidden-api-doc hidden-network hidden-routes">
                        <form class="navbar-form navbar-left" role="search">
                            <a class="btn btn-primary" href="/api/doc">API Docs</a>
                        </form>
                    </li>
                    <li class="dropdown hidden-files visible-api-doc">
                        <a href="/models" title="Back to the model list">
                            <i class="fa fa-bars fa-lg "></i>
                        </a>
                    </li>
                    <li class="dropdown hidden-files hidden-api-doc hidden-routes">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> Samples
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-key="sample1" class="add-sample-item">Concurrent</a></li>
                            <li><a href="#" data-key="sample2" class="add-sample-item">Crossroad & Carriageway</a></li>
                            <li><a href="#" data-key="sample3" class="add-sample-item">4 Crossroads in line</a></li>
                            <li><a href="#" data-key="sample4" class="add-sample-item">Ilinskoe highway - morning (212)</a></li>
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">All samples...</a></li>-->
                        </ul>
                    </li>
                    <!--<li><a href="#"><i class="fa fa-save"></i> Save</a></li>-->
                </ul>

                <form class="visible-network visible-routes navbar-form navbar-left" role="search">
                    <button type="button" class="btn btn-inverse" id="btn-model-save"><i class="fa fa-save"></i></button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-inverse" id="btn-calc"><i class="fa fa-rocket"></i> &nbsp;&nbsp;Launch</button>
                        <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu nav-btn-group-dropdown">
                            <li><a type="button" href="#" id="btn-phases-optimize"><i class="fa fa-server "></i> &nbsp;Phases</a></li>
                            <li><a type="button" href="#" id="btn-offsets-optimize"><i class="fa fa-sliders "></i> &nbsp;Offsets</a></li>
                        </ul>
                    </div>
                </form>
                <form class="visible-network visible-routes navbar-form navbar-left" role="search">
                    <div class="btn-group pull-left hidden" id="routes-list-button-panel">
                        <button type="button" class="btn btn-inverse dropdown-toggle" id="" data-toggle="dropdown"><i class="fa fa-map-marker"></i> &nbsp;Choose a route</button>
                        <ul class="dropdown-menu nav-btn-group-dropdown" id="routes-dropdown-list">
                        </ul>
                    </div>
                    <div class="btn-group pull-left">
                        <button type="button" class="btn btn-inverse hidden-routes dropdown-toggle" data-toggle="dropdown" id="btn-add-route"><i class="fa fa-plus"></i> Route</button>
                        <ul class="dropdown-menu nav-btn-group-dropdown">
                            <li class="li-route-name-dropdown">
                                <input type="text" class="form-control input-route-name" id="input-route-name" placeholder="Enter a route name">
                                <button type="button" class="btn btn-sm btn-info" id="btn-create-route">Create</button>
                            </li>
                        </ul>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right ">
                    <!--<li><a href="#">Link</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> <span id="label-my-account-username">My account</span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-lock fa-fw"></i> Account</a></li>
                            <li><a href="#"><i class="fa fa-cog fa-fw"></i> Settings</a></li>
                            <!--<li role="separator" class="divider"></li>-->
                            <li><a href="/sign-out"><i class="fa fa-sign-out fa-fw"></i> Log out</a></li>
                        </ul>
                    </li>
                </ul>
                <form id="input-model-search-form" class="visible-files navbar-form navbar-right " role="search">
                    <div class="form-group">
                        <input type="text" id="input-model-search" class="form-control input-file-search" placeholder="Search model">
                    </div>
                    <button type="submit" class="btn btn-inverse" id="btn-file-search"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
</div>